body{
    font-family: 'Patua One', cursive;
    background: rgb(32, 32, 32);
    color: rgb(32, 32, 32);
}
.jumbotron{
 margin-top: 10px;   
 margin-bottom:20px;
 text-align: center;
}
.input-group{
    margin:10px;
}
#submit{
    margin: 10px;
}
